---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="AtCoderがんばってる私"
	pubDate={new Date('2024-10-13')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		AtCoderのプロフィールから辿れることはここでも書いてしまおう。
		あと、GitHubのほうからバレるであろうことも一応書いてもいいかな。
	</p>

	<p>
		2007年生まれの群馬高専生です。競プロはおととしから始めて3年目になります。
		投稿現在では茶色です。
		もう少し伸ばして、緑とか水色に行きたいのでブログで義務感を自分に課しています。
	</p>

	<p>
		部活として「電算部」なるパソコンつよつよ部に所属しています。
		ブログ書いてるのもその影響ですね。
	</p>
</Layout>
